# Postmark email
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=info@scm.se
POSTMARK_FROM_NAME=SCM
POSTMARK_REPLY_TO_EMAIL=info@scm.se
POSTMARK_MESSAGE_STREAM=outbound
SCM_POSTMARK_MAX_RETRIES=3

# Public app base URL used in approval emails
SCM_APP_BASE_URL=https://scm-platform-prototyp.vercel.app
